<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacreator.hosp.pojo.entity.CrfEventFormRelationMapper">
    
    <resultMap id="CrfEventFormRelationResult" type="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation">
        <id property="relationId"    column="relation_id"    />
        <result property="eventId"    column="event_id"    />
        <result property="formVersionId"    column="form_version_id"    />
    </resultMap>

    <sql id="column_sql">
        crf_event_form_relation.relation_id,
        crf_event_form_relation.event_id,
        crf_event_form_relation.form_version_id
    </sql>

    <sql id="whereClause_sql">
        <if test="eventId != null  and eventId != ''">and event_id = #{eventId}</if>
        <if test="formVersionId != null  and formVersionId != ''">and form_version_id = #{formVersionId}</if>
    </sql>

    <select id="select" parameterType="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation" resultMap="CrfEventFormRelationResult">
        select
        <include refid="column_sql"/>
        from crf_event_form_relation
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <select id="selectByID" parameterType="String" resultMap="CrfEventFormRelationResult">
        select
        <include refid="column_sql"/>
        from crf_event_form_relation
        where crf_event_form_relation.relation_id = #{relationId}
    </select>

    <select id="selectByPage" parameterType="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation" resultMap="CrfEventFormRelationResult">
        select
        <include refid="column_sql"/>
        from crf_event_form_relation
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <select id="selectAll" resultMap="CrfEventFormRelationResult">
        select
        <include refid="column_sql"/>
        from crf_event_form_relation
    </select>

    <insert id="insert" parameterType="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation" useGeneratedKeys="true" keyProperty="relationId">
        insert into crf_event_form_relation(
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="relationId != null">relation_id,</if>
                <if test="eventId != null">event_id,</if>
                <if test="formVersionId != null">form_version_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="relationId != null">#{relationId},</if>
                <if test="eventId != null">#{eventId},</if>
                <if test="formVersionId != null">#{formVersionId},</if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="list">
        insert into crf_event_form_relation
        (relation_id,event_id,form_version_id)
        <foreach collection="list" item="entity" index="index" separator="union all">
            select
            #{entity.relationId},
            #{entity.eventId},
            #{entity.formVersionId}
            from dual
        </foreach>
    </insert>

    <select id="count" parameterType="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation" resultType="int">
        select count(*) from crf_event_form_relation
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <update id="update" parameterType="com.chinacreator.hosp.pojo.entity.CrfEventFormRelation">
        update crf_event_form_relation
        <trim prefix="SET" suffixOverrides=",">
                    <if test="eventId != null">event_id = #{eventId},</if>
                    <if test="formVersionId != null">form_version_id = #{formVersionId},</if>
        </trim>
        where relation_id = #{relationId}
    </update>

    <delete id="delete" parameterType="com.chinacreator.hosp.pojo.entity.CrfEvent">
        delete from crf_event_form_relation where 1 = 1 and relation_id = #{relationId}
    </delete>

    <delete id="deleteBatch" parameterType="List">
        delete from crf_event_form_relation where relation_id in
        <foreach item="entity" index="index" collection="list" open="(" close=")">
            <if test="index&gt;999 and index%1000==0">) or id in(</if>
            <choose>
                <when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.id}</when>
                <otherwise>#{entity}</otherwise>
            </choose>
            <if test="index%1000!=999 and index&lt;list.size()-1">,</if>
        </foreach>
    </delete>

    <delete id="deleteCrfEventFormRelationLogic" parameterType="String">
        update crf_event_form_relation
        set deleted = 1
        where relation_id = #{relationId}
    </delete>

    <delete id="deleteBatchCrfEventFormRelationLogic" parameterType="String">
        update crf_event_form_relation set deleted = 1 where relation_id in
        <foreach collection="list" item="relationId" open="(" separator="," close=")">
            #{relationId}
        </foreach>
    </delete>
</mapper>