<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacreator.hosp.pojo.entity.CrfPatientMapper">
    
    <resultMap id="CrfPatientResult" type="com.chinacreator.hosp.pojo.entity.CrfPatient">
        <id property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="patientSex"    column="patient_sex"    />
        <result property="patientAge"    column="patient_age"    />
        <result property="patientIdcard"    column="patient_idcard"    />
        <result property="patientPhone"    column="patient_phone"    />
        <result property="patientArea"    column="patient_area"    />
        <result property="patientAddress"    column="patient_address"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="nextFollowDate"    column="next_follow_date"    />
        <result property="nextEventId"    column="next_event_id"    />
        <result property="nextWindowDateStart"    column="next_window_date_start"    />
        <result property="nextWindowDateEnd"    column="next_window_date_end"    />
        <result property="shareStatus"    column="share_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="sort"    column="sort"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="column_sql">
        crf_patient.patient_id,
        crf_patient.patient_name,
        crf_patient.patient_sex,
        crf_patient.patient_age,
        crf_patient.patient_idcard,
        crf_patient.patient_phone,
        crf_patient.patient_area,
        crf_patient.patient_address,
        crf_patient.project_id,
        crf_patient.project_name,
        crf_patient.next_follow_date,
        crf_patient.next_event_id,
        crf_patient.next_window_date_start,
        crf_patient.next_window_date_end,
        crf_patient.share_status,
        crf_patient.create_time,
        crf_patient.create_user_id,
        crf_patient.create_user_name,
        crf_patient.update_time,
        crf_patient.update_user_id,
        crf_patient.update_user_name,
        crf_patient.sort,
        crf_patient.deleted
    </sql>

    <sql id="whereClause_sql">
        <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
        <if test="patientSex != null ">and patient_sex = #{patientSex}</if>
        <if test="patientAge != null ">and patient_age = #{patientAge}</if>
        <if test="patientIdcard != null  and patientIdcard != ''">and patient_idcard = #{patientIdcard}</if>
        <if test="patientPhone != null  and patientPhone != ''">and patient_phone = #{patientPhone}</if>
        <if test="patientArea != null  and patientArea != ''">and patient_area = #{patientArea}</if>
        <if test="patientAddress != null  and patientAddress != ''">and patient_address = #{patientAddress}</if>
        <if test="projectId != null  and projectId != ''">and project_id = #{projectId}</if>
        <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
        <if test="nextFollowDate != null ">and next_follow_date = #{nextFollowDate}</if>
        <if test="nextEventId != null  and nextEventId != ''">and next_event_id = #{nextEventId}</if>
        <if test="nextWindowDateStart != null ">and next_window_date_start = #{nextWindowDateStart}</if>
        <if test="nextWindowDateEnd != null ">and next_window_date_end = #{nextWindowDateEnd}</if>
        <if test="shareStatus != null ">and share_status = #{shareStatus}</if>
        <if test="createTime != null ">and create_time = #{createTime}</if>
        <if test="createUserId != null  and createUserId != ''">and create_user_id = #{createUserId}</if>
        <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
        <if test="updateTime != null ">and update_time = #{updateTime}</if>
        <if test="updateUserId != null  and updateUserId != ''">and update_user_id = #{updateUserId}</if>
        <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
        <if test="sort != null ">and sort = #{sort}</if>
        <if test="deleted != null ">and deleted = #{deleted}</if>
    </sql>

    <select id="select" parameterType="com.chinacreator.hosp.pojo.entity.CrfPatient" resultMap="CrfPatientResult">
        select
        <include refid="column_sql"/>
        from crf_patient
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <select id="selectByID" parameterType="String" resultMap="CrfPatientResult">
        select
        <include refid="column_sql"/>
        from crf_patient
        where crf_patient.patient_id = #{patientId}
    </select>

    <select id="selectByPage" parameterType="com.chinacreator.hosp.pojo.entity.CrfPatient" resultMap="CrfPatientResult">
        select
        <include refid="column_sql"/>
        from crf_patient
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <select id="selectAll" resultMap="CrfPatientResult">
        select
        <include refid="column_sql"/>
        from crf_patient
    </select>

    <insert id="insert" parameterType="com.chinacreator.hosp.pojo.entity.CrfPatient" useGeneratedKeys="true" keyProperty="patientId">
        insert into crf_patient(
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="patientId != null">patient_id,</if>
                <if test="patientName != null">patient_name,</if>
                <if test="patientSex != null">patient_sex,</if>
                <if test="patientAge != null">patient_age,</if>
                <if test="patientIdcard != null">patient_idcard,</if>
                <if test="patientPhone != null">patient_phone,</if>
                <if test="patientArea != null">patient_area,</if>
                <if test="patientAddress != null">patient_address,</if>
                <if test="projectId != null">project_id,</if>
                <if test="projectName != null">project_name,</if>
                <if test="nextFollowDate != null">next_follow_date,</if>
                <if test="nextEventId != null">next_event_id,</if>
                <if test="nextWindowDateStart != null">next_window_date_start,</if>
                <if test="nextWindowDateEnd != null">next_window_date_end,</if>
                <if test="shareStatus != null">share_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createUserId != null">create_user_id,</if>
                <if test="createUserName != null">create_user_name,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="updateUserId != null">update_user_id,</if>
                <if test="updateUserName != null">update_user_name,</if>
                <if test="sort != null">sort,</if>
                <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="patientId != null">#{patientId},</if>
                <if test="patientName != null">#{patientName},</if>
                <if test="patientSex != null">#{patientSex},</if>
                <if test="patientAge != null">#{patientAge},</if>
                <if test="patientIdcard != null">#{patientIdcard},</if>
                <if test="patientPhone != null">#{patientPhone},</if>
                <if test="patientArea != null">#{patientArea},</if>
                <if test="patientAddress != null">#{patientAddress},</if>
                <if test="projectId != null">#{projectId},</if>
                <if test="projectName != null">#{projectName},</if>
                <if test="nextFollowDate != null">#{nextFollowDate},</if>
                <if test="nextEventId != null">#{nextEventId},</if>
                <if test="nextWindowDateStart != null">#{nextWindowDateStart},</if>
                <if test="nextWindowDateEnd != null">#{nextWindowDateEnd},</if>
                <if test="shareStatus != null">#{shareStatus},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="createUserId != null">#{createUserId},</if>
                <if test="createUserName != null">#{createUserName},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="updateUserId != null">#{updateUserId},</if>
                <if test="updateUserName != null">#{updateUserName},</if>
                <if test="sort != null">#{sort},</if>
                <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="list">
        insert into crf_patient
        (patient_id,patient_name,patient_sex,patient_age,patient_idcard,patient_phone,patient_area,patient_address,project_id,project_name,next_follow_date,next_event_id,next_window_date_start,next_window_date_end,share_status,create_time,create_user_id,create_user_name,update_time,update_user_id,update_user_name,sort,deleted)
        <foreach collection="list" item="entity" index="index" separator="union all">
            select
            #{entity.patientId},
            #{entity.patientName},
            #{entity.patientSex},
            #{entity.patientAge},
            #{entity.patientIdcard},
            #{entity.patientPhone},
            #{entity.patientArea},
            #{entity.patientAddress},
            #{entity.projectId},
            #{entity.projectName},
            #{entity.nextFollowDate},
            #{entity.nextEventId},
            #{entity.nextWindowDateStart},
            #{entity.nextWindowDateEnd},
            #{entity.shareStatus},
            #{entity.createTime},
            #{entity.createUserId},
            #{entity.createUserName},
            #{entity.updateTime},
            #{entity.updateUserId},
            #{entity.updateUserName},
            #{entity.sort},
            #{entity.deleted}
            from dual
        </foreach>
    </insert>

    <select id="count" parameterType="com.chinacreator.hosp.pojo.entity.CrfPatient" resultType="int">
        select count(*) from crf_patient
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <update id="update" parameterType="com.chinacreator.hosp.pojo.entity.CrfPatient">
        update crf_patient
        <trim prefix="SET" suffixOverrides=",">
                    <if test="patientName != null">patient_name = #{patientName},</if>
                    <if test="patientSex != null">patient_sex = #{patientSex},</if>
                    <if test="patientAge != null">patient_age = #{patientAge},</if>
                    <if test="patientIdcard != null">patient_idcard = #{patientIdcard},</if>
                    <if test="patientPhone != null">patient_phone = #{patientPhone},</if>
                    <if test="patientArea != null">patient_area = #{patientArea},</if>
                    <if test="patientAddress != null">patient_address = #{patientAddress},</if>
                    <if test="projectId != null">project_id = #{projectId},</if>
                    <if test="projectName != null">project_name = #{projectName},</if>
                    <if test="nextFollowDate != null">next_follow_date = #{nextFollowDate},</if>
                    <if test="nextEventId != null">next_event_id = #{nextEventId},</if>
                    <if test="nextWindowDateStart != null">next_window_date_start = #{nextWindowDateStart},</if>
                    <if test="nextWindowDateEnd != null">next_window_date_end = #{nextWindowDateEnd},</if>
                    <if test="shareStatus != null">share_status = #{shareStatus},</if>
                    <if test="createTime != null">create_time = #{createTime},</if>
                    <if test="createUserId != null">create_user_id = #{createUserId},</if>
                    <if test="createUserName != null">create_user_name = #{createUserName},</if>
                    <if test="updateTime != null">update_time = #{updateTime},</if>
                    <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
                    <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
                    <if test="sort != null">sort = #{sort},</if>
                    <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where patient_id = #{patientId}
    </update>

    <delete id="delete" parameterType="com.chinacreator.hosp.pojo.entity.CrfEvent">
        delete from crf_patient where 1 = 1 and patient_id = #{patientId}
    </delete>

    <delete id="deleteBatch" parameterType="List">
        delete from crf_patient where patient_id in
        <foreach item="entity" index="index" collection="list" open="(" close=")">
            <if test="index&gt;999 and index%1000==0">) or id in(</if>
            <choose>
                <when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.id}</when>
                <otherwise>#{entity}</otherwise>
            </choose>
            <if test="index%1000!=999 and index&lt;list.size()-1">,</if>
        </foreach>
    </delete>

    <delete id="deleteCrfPatientLogic" parameterType="String">
        update crf_patient
        set deleted = 1
        where patient_id = #{patientId}
    </delete>

    <delete id="deleteBatchCrfPatientLogic" parameterType="String">
        update crf_patient set deleted = 1 where patient_id in
        <foreach collection="list" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </delete>
</mapper>