package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.common.PageDataInfo;
import ${packageName}.common.PageQuery;
import ${packageName}.pojo.entity.${ClassName};
import java.util.List;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}>
{
    /**
     * 分页查询${functionName}
     */
    PageDataInfo<${ClassName}> page${ClassName}(PageQuery pageParam);
}
