package ${packageName}.service.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${packageName}.common.PageDataInfo;
import ${packageName}.common.PageQuery;
import ${packageName}.constant.Business;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.pojo.entity.${ClassName};
import ${packageName}.service.I${ClassName}Service;
import org.apache.commons.lang3.StringUtils;
import org.springframework.stereotype.Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.List;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}> implements I${ClassName}Service {
    private Logger logger = LoggerFactory.getLogger(this.getClass());

    /**
     * 分页查询${functionName}
     */
    @Override
    public PageDataInfo<${ClassName}> page${ClassName}(PageQuery pageParam) {
        Page<${ClassName}> recordPage = lambdaQuery().page(pageParam.build());
        return PageDataInfo.build(recordPage);
    }
}
